@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
h1{
    font-family: "Great Vibes";
    text-align:center;
    font-size: 60px;
 }
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 4%;
  }

  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Raleway";
}

body{
    height:200vh; 
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: cornsilk;
  }

  .img-slider{
      position:relative;
      width:800px;
      height:500px;
      margin:10px;
      background-color: cornsilk;
  }


  .img-slider .slide img{
      z-index:1;
      width:100%;
      border-radius:5px;
  }

  .img-slider .slide .info{
      position: absolute;
      top:0;
      padding:15px 30px;
  }
  
  .img-slider .slide .info h2{
      color: #fff;
      font-size: 45px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 3px;
  }

  .img-slider .slide .info p{
      color:#fff;
      background: rgba(0, 0, 0, 0.1);
      font-size: 16px;
      width: 60%;
      padding:10px;
      border-radius:4px;
  }

  .img-slider .navigation{
      z-index: 2;
      position: absolute;
      display: flex;
      bottom:30px;
      left:50%;
      transform: translatex(-50%);
  }

  .img-slider .navigation .btn{
      background:rgba(255, 255, 255, 0.5);
      width: 12px;
      height:12px;
      margin:10px;
      border-radius:50%;
      cursor: pointer;

    }

    @media (max-width:820px){
        .img-slider{
            width:600px;
            height:375px;
        }
        .img-slider.slide.info{
            padding:10px 25px;
        }
        .img-slider .slide .info h2{
            font-size:35px;
        }
        .img-slider .slide .info p{
            width: 70%;
            font-size:15px;
        }
        .img-slider .navigation{
            bottom:25px;
        }
        .img-slider .navigation .btn{
            width:10px;
            height:10px;
            margin:8px;
        }
    }
  
    @media (max-width:620px){
      .img-slider{
          width:400px;
          height:250px;
      }
      .img-slider.slide.info{
          padding:10px 20px;
      }
      .img-slider .slide .info h2{
          font-size:30px;
      }
      .img-slider .slide .info p{
          width: 80%;
          font-size:13px;
      }
      .img-slider .navigation{
          bottom:15px;
      }
      .img-slider .navigation .btn{
          width:8px;
          height:8px;
          margin:6px;
      }
  }
  
  @media (max-width:420px){
      .img-slider{
          width:320px;
          height:200px;
      }
      .img-slider.slide.info{
          padding:5px 10px;
      }
      .img-slider .slide .info h2{
          font-size:15px;
      }
      .img-slider .slide .info p{
          width: 90%;
          font-size:11px;
      }
      .img-slider .navigation{
          bottom:10px;
      }
     
  }