@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body, 
html{
  font-family: 'Raleway', sans-serif;  
}

nav {
  height: 60px;
}

ul.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  line-height: 60px;
}


.container a {
  text-decoration: none;
  color: #000000;
}

h1{
  font-family: "Great Vibes";
  text-align:center;
  font-size: 60px;
}


.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:2%;
}
html, body, main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }


* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}


.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card {
    height: 350px;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
  background-image: url(https://static-new.lhw.com/HotelImages/Final/LW6066/lw6066_46241053_720x450.jpg);
}
.card:nth-child(2):before {
  background-image: url(https://media.architecturaldigest.com/photos/598dd8d65f33bd7d13f70acc/4:3/w_1148,h_861,c_limit/ElFenn-resized.png);
}
.card:nth-child(3):before {
  background-image: url(https://www.telegraph.co.uk/content/dam/Travel/Destinations/Africa/Zimbabwe/Singita-Pamushana-Lodge-Main-Pool-with-waiter.jpg);
}
.card:nth-child(4):before {
  background-image: url(https://tongabezi.com/img/home-banner-4-mobile.jpg);
}
.card:nth-child(5):before {
  background-image: url(https://wild-wings-safaris.com/uploads/files/londolozi_varty_superior_chalet_10.jpg);
}
.card:nth-child(6):before {
  background-image: url(https://angama.com/wp-content/uploads/nf_image/Tent-Trial-2-pnlvl2lmzrzljswi775jc0v8.png);
}
.card:nth-child(7):before {
  background-image: url(https://www.andbeyond.com/wp-content/uploads/sites/5/casa-familia-private-deck-guest-area-at-andBeyond-benguerra-island-on-a-mozambique-luxury-beach-resort.jpg);
}
.card:nth-child(8):before {
  background-image: url(https://cdn.kiwicollection.com/media/property/PR003161/xl/003161-12-mnemba-island-2014-317.jpg?cb=1434653574);
}
.card:nth-child(9):before {
  background-image: url(https://hotelsandresorts.review/wp-content/uploads/2017/12/1444199222_azura_villa-quilalea-deck-view-from-side.jpg.1024x0-1024x723.jpg);
}

.card:nth-child(10):before {
  background-image: url(https://www.travelplusstyle.com/wp-content/gallery/kilindi-zanzibar_glowna/kilindi-sansibar-03.jpg);
}
.card:nth-child(11):before {
  background-image: url(https://www.odyssey-travels.com/site/lodges/ras-kutani-a-holiday-guide-to-ras-kutani-tanzania=401052-300.jpg);
}
.card:nth-child(12):before {
  background-image: url(https://cf.bstatic.com/images/hotel/max1024x768/277/27772733.jpg);
}
.card:nth-child(13):before {
  background-image: url(https://www.north-island.com/wp-content/uploads/2015/05/north_island_villa-intro.jpg);
}
.card:nth-child(14):before {
  background-image: url(https://m.fourseasons.com/alt/img-opt/~70.1530.0,0000-88,2500-3000,0000-1687,5000/publish/content/dam/fourseasons/images/web/SDI/SDI_129_original.jpg);
}
.card:nth-child(15):before {
  background-image: url(https://www.swissafrican.com/img/camps/southafrica/sa_ellerman_house/ellerman_house_1a.jpg);
}
.card:nth-child(16):before {
  background-image: url(https://victoria-falls-safari-lodge.com/wp-content/uploads/2018/08/Victoria-Falls-Safari-Club-Restaurant.jpg);
}
.card:nth-child(17):before {
  background-image: url(https://thumbor.forbes.com/thumbor/711x474/https://blogs-images.forbes.com/bazdreisinger/files/2017/02/Persian-view-1200x800.jpg?width=960);
}
.card:nth-child(18):before {
  background-image: url(https://icom-royalchundu-production.s3-eu-west-1.amazonaws.com/royalchundu/filer_public_thumbnails/filer_public/7a/10/7a10d699-bb88-45d8-9841-3a96ea70dbb4/lodges-banner.jpg__1920x1080_q85_crop_subsampling-2_upscale.jpg);
}
.card:nth-child(19):before {
  background-image: url(https://www.south-african-lodges.com/media/little-vumbura-deck-aerial.jpg);
}
.card:nth-child(20):before {
  background-image: url(https://media-cdn.tripadvisor.com/media/photo-s/08/5a/8f/62/singita-ebony-lodge.jpg);
}
.card:nth-child(21):before {
  background-image: url(https://www.andbeyond.com/wp-content/uploads/sites/5/Matetsi-River-Lodge-Swimming-Pool1.jpg);
}
.card:nth-child(22):before {
  background-image: url(https://www.luxuryexplorer.com/LEMediaLibrary/LuxuryExplorer/images/hotels/Morocco/Amanjena/818x818/ajena_general_resort_bassin_view_1117_818.jpg);
}
.card:nth-child(23):before {
  background-image: url(https://media-cdn.tripadvisor.com/media/photo-s/12/61/5a/b7/the-main-area-at-sasaab.jpg);
}
.card:nth-child(24):before {
  background-image: url(http://www.sanctuaryretreats.com/media/1183/1.jpg?width=1680&height=763&mode=crop&anchor=middle);
}



.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
.card:focus-within {
    align-items: center;
  }
  .card:hover:before,
.card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
.card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
.card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
.card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before, .card:focus-within:after,
.card:focus-within .content,
.card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}

.footer{
  justify-content: center;
  position: absolute;
  align-items: center;
}

 