@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Shippori+Mincho&display=swap');
.header{
    margin: 20px;
    padding: 2px;
    text-decoration: none;
    font-family: montserrat;
    font-size:small;
    
}
header{
    text-align: center;
}

p.title{
    text-align: center;
    color: black;
    text-shadow: 10px rgba(94, 108, 121, 0.767);
    font-family: "Shippori Micho";
    text-decoration: none;
    font-size: 30px;
}

.Title{
    text-align: center;
    font-family: "montserrat";
    font-style: normal;
    font-weight: lighter;
    text-decoration: none;
}
.date{
    text-align: center;
    font-family: "montserrat";
    font-style: italic;
    font-size: x-small;
    font-weight: lighter;
    text-decoration: none;
}
.body{
        padding: 10px 240px;
        font-family:"montserrat";
        font-style: italic;
        font-weight: lighter;
        color:rgb(79, 88, 97);
}

.footer{
    column-count: 2;
    column-gap: 200px;
    background-color:rgba(192, 195, 195, 0.157);
    font-family: montserrat;
    font-size:10px;
    font-weight:lighter
}

div p{
   color: rgb(79, 88, 97); 
}

.copyright{
    font-size: xx-small;
    font-family: "montserrat";
}